<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 설정 -->
	<settings>
		<!-- 언더스코어 케이스인 컬럼을 카멜 케이스로 변환하는 설정  -->
		<!-- board_no - boardNo -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 타입 별칭 설정 -->
	<typeAliases>
		<!-- 패키지부터의 전체경로를 갖는 자바 타입을 축약해서 별칭으로 지정 -->
		<!-- 
			<typeAlias alias="Users"  type="com.joeun.shop.dto.Users"/>
			<typeAlias alias="UserAuth"  type="com.joeun.shop.dto.UserAuth"/>
			
		-->

		<!-- <typeAlias alias="Admin"  type="com.joeun.server.dto.Admin"/>
		<typeAlias alias="Auth"  type="com.joeun.server.dto.Auth"/>
		<typeAlias alias="Board"  type="com.joeun.server.dto.Board"/>
		<typeAlias alias="Booking"  type="com.joeun.server.dto.Booking"/>
		<typeAlias alias="Comment"  type="com.joeun.server.dto.Comment"/>
		<typeAlias alias="CustomUser"  type="com.joeun.server.dto.CustomUser"/>
		<typeAlias alias="Files"  type="com.joeun.server.dto.Files"/>
		<typeAlias alias="Product"  type="com.joeun.server.dto.Product"/>
		<typeAlias alias="ProductIo"  type="com.joeun.server.dto.ProductIo"/>
		<typeAlias alias="QR"  type="com.joeun.server.dto.QR"/>
		<typeAlias alias="Users"  type="com.joeun.server.dto.Users"/> -->
		
		<!-- 테이블과 매핑할 DTO가 있는 패키지 경로 지정 -->
		<package name="com.joeun.server.dto"/>
	</typeAliases>	


</configuration>