@charset "UTF-8";

/* 초기화 */
* { margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

li, ol, ul { list-style: none; }

a { text-decoration: none;
    color: inherit; }

img { max-width: 100%; }

button { cursor: pointer; }

body { font-family: "Noto Sans KR", sans-serif !important; }