@charset "UTF-8";

/* 초기화 */
* { margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

li, ol, ul { list-style: none; }

a { text-decoration: none;
    color: inherit; }

img { max-width: 100%; }

button { cursor: pointer; }

body { font-family: "Noto Sans KR", sans-serif !important; }

/* HEADER */
.header_container {
    display: inline-block;
    align-items: right;
    width: 100%;
    height: 120px;
}

.header_inner {
    position: absolute;
    display: inline-block;

    width: 100%;
    height: 30px;
    background-color: black;
}

.header_inner > ul {
    display: flex;
    border: 1px solid white;
    justify-content: flex-end;
}

.header_inner > ul > li {
   margin-right: 30px;
}

.header_inner > ul > li > a {
    text-align: center;
    color: whitesmoke
}

/* 장바구니 아이콘 */
.header_image {
    width: 25px;
    height: 25px;
}

/* HEADER - gnb */
.header_gnb {
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

/* 로고 */
.header_logo {
    width: 80px;
    height: 80px;
}

.header_logo > img {
    width: 100%;
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.dropdown {
    padding-right: 3%;
}

.dropdown strong {
    padding-left: 10px;
    color: whitesmoke;
    text-align: center;
}

.dropdown > li {
    color: whitesmoke;
    display: none;
}

.content_container {
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.content_container {
    padding-top: 35px;
}

/** ADMIN_FOOTER **/
.admin_footer_container {
  margin-top: 150px;
  width: 100%;
  height: 50px;
}

/* FOOTER */
.footer_link {
    display: felx;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;

    position: absolute;
    bottom: 180px;
    width: 100%;
}

.footer_link > p {
    padding-left: 40px;
    padding-right: 40px;
}

.footer_container {
    position: absolute;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
  }
  
  .footer_section1 {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .footer_section2 {
    display: flex;
    align-items: center;
  }

  .footer_section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    float: left;
    margin-top: 40px;
    width: 120px;
    height: 120px;
  }
  
  .logo ::after {
    clear: left;
    content: "";
    display: block;
  }

  .logo > img {
    width: 100%;
    height: 100%;
  }
  
  .copy_content {
    text-align: center;
    justify-content: space-around;
    width: 900px;
    color: whitesmoke;
    line-height: 25px;
  }
  
  .copy {
    color: whitesmoke;
    text-align: center;
  }

  .copy > p {
    text-align: center;
  }
  
  .sns {
    float: right;
    width: 300px;
    clear: right;
  }

  .sns ::after {
    clear: right;
    content: "";
    display: block;
  }
  
  .sns > span > a > img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

/* INDEX - CONTENT : 항공권 조회 */
#index_body {
    float: left;
}
.content_container {
    width: 1200px;
}

#main_index_back {
  width: 100%;
  height: 500px;
  /* background-image: url(img/background.png); */
  background-size: 100%;
  object-fit: cover;
}

#searchFlight {
  width: 1280px;
  height: 300px;
}

#booking_btn {
	float: left;
	position: absolute;
	margin-left: 20px;
}

.dropdown-select {
  display: none;
      position: absolute;
      top: 53px;
      left: 0px;
      background: #fff;
      z-index: 999;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      width: 201px;
  }
  
  .dropdown-select.show {
    display: block;
  }

  .wrap {
    height: 100%;
    width: 1600px;
    margin: 0 auto;
  }
  /* INDEX - 이미지 슬라이드 */
  /* #slide {
    width:100%;
    padding: 0 15vw;
    position: relative;
    margin:1vw 0 0 0;
  }

  #slide i{
      font-size: 30px;
  }

  #slide .slider-container {
      width: 100%;
      overflow: hidden;
      border-radius: 15px;
  }

  #slide .slider-container span{
      position: absolute;
      z-index: 99;
      top:50%;
      cursor: pointer;
  }

  #slide .slider-container .leftBtn{
      left: 12%;
      transform: translate(0,-50%);
  }

  #slide .slider-container .rightBtn{
      right: 12%;
      transform: translate(0,-50%);
  }

  #slide .slider-container .slider{
      display:flex;
      width: 101%;
  }

  #slide .slider-container .slider span{
      display: block;
      position: relative;
      min-width: 100%;
  }

  #slide .slider-container .slider span img{
    width: 100%;
    height: 500px;
    border: 1px solid gray;
  } */

  /* index.html */
  /* Quick Menu */
  #Quick .quick_container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 35px;
    height: 200px;
    width: 80%;
    /* background-color: rgb(253, 247, 240); */
    justify-items: center;
    border-radius: 10px;
  }

  #Quick .quick_container .wrap {
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
    justify-content: center;
    margin-top: 10px;

  }

  #Quick .quick_container .wrap img{
    text-align: center;
    margin-left: 30px;
    width: 130px;
    height: 130px;

  }
  
  #Quick .quick_container .wrap h3 {
    margin-top: 15px;
    text-align: center;
  }

  /* 여행지 사진 */
  #spot .spot_container {
    display: flex;
    /* text-align: center; */
    justify-items: center;
    margin-inline-start: 5%;
    margin-bottom: 30px;
  }

  #spot .spot_container .card {
    border-radius: 10px;
    box-shadow: rgb(66, 119, 179);
  }

  #spot img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  #spot .card {
    margin-left: 30px;
    margin-top: 20px;
  }


  /* 최근 게시글 */
  #board .board_container {
    /* border: 1px solid blueviolet; */
    margin: 20px 0 30px 30px;
    width: 100%;
    height: 500px;
    justify-content: center;
  }


/**
* 중복 아이디
*/
/* 중복아이디 존재하지 않는경우 */
/* .id_input_re_1{
    color : green;
    display : none;
} */
/* 중복아이디 존재하는 경우 */
/* .id_input_re_2{
    color : red;
    display : none;
} */

/* 로그인 실패시 경고 */
/* .login_warn {
    margin-top: 30px;
    text-align: center;
    color: red;
} */


 
/* 로그인 성공 영역 */
/* .login_success_area{
    height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}
.login_success_area>span{
    display : block;
    text-align: left;
    margin-left: 10%;
}
.login_success_area>a{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;    
} */
/* 여행지 둘러보기 - 이미지 슬라이드 */

.swiper-pagination-bullet{border: 1px solid #1da1f2;}.swiper-pagination-bullet-active{background:#1da1f2}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-slide .slider-image img {
  text-align: center;
  margin-left: 180px;
  margin-right: 100px;
  height: 600px;
  width: 80%;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

/* checkBox */
.form-check, .form-check-input, .radio-row, .login_checkbox {
  display: block;
  margin-left: 22px;
}

/* main index.html css */
.start_departure {width: 20%;}
.end_departure {width: 20%;}
.calander {width: 40%;}
.passenger {width: 50%;}
.search_btn {width: 10%;}
.none {display: none;}


/* Final_check.html */
.final_container {
  display: block;
  width: 1200px;
  height: 500px;
}

.boarding-pass {
  display: flex;
  width: 1200px;
  height: 300px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: absolute;
}

.left-section, .right-section {
  padding: 10px;
  position: relative;
}

.left-section {
  width: 70%;
  border-right: 2px dashed #bbb;
}

.right-section {
  width: 30%;
  background-color: #0046ad;
  color: white;
}

.section {
  margin-bottom: 10px;
}

.airline-logo {
  font-size: 22px;
  font-weight: bold;
  color: #0046ad;
}

.flight-details, .passenger-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight-detail-item, .passenger-detail-item {
  margin-right: 20px;
}

.QRcode img {
  width: 10%;
  height: 10%;
}

.boarding-pass-footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.btnBox {
  display: block;
  margin-top: 30px;
  z-index: 1;
}


/* 버스 */
.bus_body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
.bus_header {
  background: #007bff; /* 부드러운 파란색 그라데이션 */
  background: linear-gradient(to right, #0062E6, #33AEFF);
  padding: 20px;
  color: white;
  text-align: center;
}
.bus_header h1 {
  margin: 0;
  font-size: 2em;
}
.bus_main {
  padding: 20px;
  text-align: center;
}
.bus_section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.bus_section {
  background-color: white;
  flex-basis: calc(25% - 40px); /* 네 개의 섹션을 균등하게 배치하되 여백을 고려 */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 변환 효과 */
}
.bus_section:hover {
  transform: translateY(-5px); /* 호버 시 위로 부드럽게 이동 */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* 호버 시 그림자 강조 */
}
.bus_section a {
  display: block;
  padding: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.bus_footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* 모달 기본 스타일 */
.bus_modal {
display: none; /* 기본적으로 보이지 않도록 설정 */
position: fixed; /* 스크롤을 해도 모달 위치 고정 */
z-index: 1000; /* 컨텐츠 위에 모달이 뜨도록 설정 */
left: 0;
top: 0;
width: 100%; /* 전체 너비 */
height: 100%; /* 전체 높이 */
background-color: rgba(0,0,0,0.4); /* 뒷 배경 어둡게 */
}

/* 모달 컨텐츠 스타일 */
.bus_modal-content {
background-color: #fefefe;
margin: 10% auto; /* 상단 여백과 가운데 정렬 */
padding: 20px;
border: 1px solid #888;
width: 20%; /* 모달 너비 설정 */
height: 50%;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
/* 모달을 왼쪽에 위치시키기 위해 왼쪽 마진 값을 조정 */
margin-left: 10%;
}

/* 모달 닫기 버튼 스타일 */
.bus_close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.bus_close:hover,
.bus_close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.bus_main2 {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Ensure that items wrap on smaller screens */
  align-items: flex-start; /* Align items at the top */
}
.bus_ticket-option {
  background-color: white;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  flex: 1; /* Allow boxes to grow */
  max-width: calc(33.333% - 20px); /* Three items per row with margin */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
  position: relative; /* For the ribbon positioning */
}
.bus_ticket-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.bus_ticket-option img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
.bus_ticket-option div {
  margin: 10px 0;
}

/* Style for the ribbon */
.bus_ribbon {
  position: absolute;
  top: -5px; right: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.bus_ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px; display: block;
  background: #ff2e63;
  background: linear-gradient(#ff2e63 0%, #ff2e63 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: 19px;
}

.bus_image-section {
text-align: center; /* 이미지를 중앙에 배치 */
margin: 20px 0; /* 위아래 여백 추가 */
}

.bus_image-section img {
max-width: 100%; /* 너비를 화면에 맞춤 */
height: auto; /* 이미지 비율을 유지하면서 높이 자동 조절 */
}

.footer_container {
  position: relative!important;
}

.busre_body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}
.busre_container {
  width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.busre_h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
.busre_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.busre_table, .busre_th, .busre_td {
  border: 1px solid #ddd;
}
.busre_th, .busre_td {
  text-align: left;
  padding: 12px;
}
.busre_th {
  background-color: #f8f9fa;
}
.busre_total {
  text-align: right;
}
.busre_total span {
  font-weight: bold;
}
.busre_input-group {
  margin-top: 30px;
}
.busre_input-group label {
  display: block;
  margin-bottom: 10px;
}
.busre_input-group input, .busre_input-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.busre_btn {
  background-color: #0056b3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}
.busre_btn:hover {
  background-color: #004494;
}
.busre_privacy-policy {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 4px;
  margin-top: 30px;
}
.busre_privacy-policy p, .privacy-policy ul {
  margin: 10px 0;
}
.busre_privacy-policy strong {
  color: #0056b3;
}

/* 댓글 */
.comment_container, .commentList-box {
  border: 1px solid rgb(240, 240, 252);
  border-radius: 5px;
  min-height: 200px;
}

.comment-box {
  display: flex;

}

.comment-box .form-group {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
}

.comment-box .form-group > #comment-writer {
  flex: 30%;
}

.comment-box .form-group > #comment-content {
  flex: 70%;
}

.comment-box .form-control {
  height: 60%; /* 두 입력 상자의 높이를 100%로 설정하여 부모 컨테이너에 맞게 만듭니다. */
}

/* 버튼 */
.btn-triple {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-basic {
  width: 80px;
}
