@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

li, ol, ul { list-style: none; }

a { text-decoration: none;
    color: inherit; 
    cursor: pointer;
  }

img { max-width: 100%; }

button { cursor: pointer; }

body { font-family: "Noto Sans KR", sans-serif !important; }

header, body, footer {
  /* width: 1920px; */
  text-align: center;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  left: 30px;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 140px;
}

.header_container {
  display: block;
  height: 150px;
}

.sub_nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}

.sub_nav > .nav-item {
  margin-right: 30px;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  left: 22px;
  position: relative;
}

.main_nav > .logo > .mainlogo > a {
  width: 200px;
  height: 50px;
}

.main_nav > .logo > .mainlogo > img {
  width: 200px;
  height: 50px;
}

.nav_menu {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}

.nav_menu > .navitem {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 40px;
  width: 150px;
}

.nav_menu > .navitem > a {
  display: block;
  padding: 8px;
}

.nav_menu > .navitem > a:hover {
  background-color: #edf2f5;
  border-radius: 5px;
}

.nav_menu > .navitem:active {
  border-bottom: 5px solid blue;
}

/** ADMIN_FOOTER **/
.admin_footer_container {
  position: relative !important;
  margin-top: 173px;
  margin-bottom: 0;
  width: 100%;
  height: 150px;
}

.Admin_copy {
  margin-top: 60px;
}

.footer_container {
  position: relative!important;
  margin-bottom: 0;
  display: block;
  width: 100%;
  height: 300px;
}

.footer_link {
  display: block;
  width: 100%;
  height: 30px;
}

.footer_link > p {
  color: white;
  margin-left: 30px;
  margin-right: 0px;
}

.footer_section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.logo {
  float: left;
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

.logo ::after {
  clear: left;
  content: "";
  display: block;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.copy_content {
  text-align: center;
  justify-content: space-around;
  width: 900px;
  color: whitesmoke;
  line-height: 25px;
}

.copy {
  color: whitesmoke;
  text-align: center;
}

.copy > p {
  text-align: center;
}

.sns {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

/* .sns ::after {
  clear: right;
  content: "";
  display: block;
} */

.sns > span > a > img {
  margin-top: 40px;
  width: 50px;
  height: 50px;
}

/*  */
#main_index_back {
  width: 100%;
  height: 650px;
  background-size: 100%;
  object-fit: cover;
  /* background-color: #BEEFFF; */
}

/* 여행지 둘러보기 - 이미지 슬라이드 */
#slide {
  /* width: 100%; */
  height: 400px;

}

.swiper-pagination-bullet{border: 1px solid #1da1f2;}.swiper-pagination-bullet-active{background:#1da1f2}
img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto;
}

/* .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1
} */

/* .swiper-container-no-flexbox .swiper-slide {
  float: left
} */

.swiper-container-vertical>.swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform
}

.swiper-slide .slider-image img {
  text-align: center;
  height: 680px;
  width: 100%;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

/* 검색 */
#searchFlight {
  width: 1280px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search_container {
  width: 1280px;
  height: 180px;
  z-index: 3;
}

.btn_search_box {
  display: flex;
  margin-top: 20px;
}

.btn_search1 {
  background-color: #ff0000cc;
  text-align: center;
  line-height: 50px;
  width: 180px;
  border-radius: 5px;
}

.btn_search2 {
  background-color: #b90000cc;
  text-align: center;
  line-height: 50px;
  width: 180px;
  border-radius: 5px;
}

.btn_search3 {
  background-color: #28288cda;
  text-align: cetner;
  line-height: 50px;
  width: 180px;
  border-radius: 5px;
}

.btn_search4 {
  background-color: #ffad0ad5;
  text-align: center;
  line-height: 50px;
  width: 180px;
  border-radius: 5px;
}

.btn_search5 {
  background-color: #1e821ed3;
  text-align: center;
  line-height: 50px;
  width: 180px;
  border-radius: 5px;
}

.btn_search a {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.btn_search a {
  text-align: center;
  display: block;
}

.btn_search a:hover {
  cursor: pointer;
}

.btn_search a img {
  width: 30px;
  height: 3%;
  margin-right: 10px;

}

.search_card {
  height: 100%;
  background-color: #BEEFFF;
  border-radius: 10px;
  z-index: inherit;
}

#booking_btn {
	/* position: absolute; */
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
	margin-left: 20px;
  width: 200px;
  height: 50px;
}

.tab_wrap {
  /* border: 1px solid salmon; */

}

.radio-btn {
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  margin: 0px;
  padding: 0;
  margin-bottom: 15px;
}

.radio-btn .radio_form {
  display: flex;
  width: 150px;
  height: 40px;
  align-items: center;
  margin-left: 5px;
  background-color: #9dd4f665;
  border-radius: 5px;
}

.radio-btn .radio_form label {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 30px;
}

.form-check-input[type=radio] {
  margin-left: 1px;
}

.search-box {
  /* border: 1px solid salmon; */
  /* display: flex; */
}

.select_box {
  /* border: 1px solid black; */
  height: 60px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
}

.select_departure, .select_destination {
  margin-left: -22px;
  left: 11px;
}

.form_trip {
  height: 55px;
}

.form_trip label {
  margin-top: -10px;
  color: gray;
  font-size: 12px;
}

.datepicker {
  margin-top: -70px;
}

.form_passenger label {
  margin-top: -10px;
  color: black;
  font-size: 16px;
}

.form_passenger {
  /* display: inline-block; */
  height: 65px;
  /* border: 1px solid salmon; */
  /* background-color: #fff; */
}

.number_box {
  margin-left: 50px;
}

.react-datepicker-popper {
  margin-bottom: 20px;
}

.dropdown-select {
  display: none;
  position: absolute;
  top: 53px;
  left: 0px;
  background: #fff;
  z-index: 999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 201px;
}
  
.dropdown-select.show {
  display: block;
}

.dropdown-select {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 201px;
}
  
.dropdown-select.show {
  display: block;
}

/* 여행지 사진 */
.section_bar {
  margin-top: 150px;
}

#spot .spot_container {
  display: flex;
  justify-items: center;
  margin-top: 10px;
}

.spot_title {
  margin-top: 40px;
  text-align: start;
  margin-left: 30px;
  font-weight: bold;
}

#spot .spot_container .card {
  border-radius: 10px;
  box-shadow: rgb(66, 119, 179);
}

#spot img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

#spot .card {
  margin-left: 30px;
  margin-top: 20px;
}


/* 최근 게시글 */
#board {
  /* background-color: #FFDEE9; */
  padding-top: 5px;
  width: 100%;
  height: 650px;
}

#board .board_container {
  /* border: 1px solid blueviolet; */
  margin: 30px 0 30px 30px;
  width: 100%;
  height: 400px;
  justify-content: center;
}

.board_title {
  margin-top: 40px;
  text-align: start;
  margin-left: 30px;
  font-weight: bold;
}

/* recommend */
.rec_title {
  font-size: 28px;
  background-color: #edf2f52c;
  line-height: 50px;
}

.card_title {
  font-size: 30px;
  font-weight: bold;
  background-color: #1da0f215;

}
.card-text {
  margin-top: 10px;
  text-align: start;
}

/* 버튼 */
.btn-big {
  width: 1200px;
}

/* 관리자 사이드바 */
.adminsidebar {
  width: 300px;
}

.Admin_mainmenu > li {
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.201);
}

.Admin_submenu > li > a {
  /* background-color: #1da1f2; */
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.Admin_submenu > li > a:hover {
  background-color: #BEEFFF;
}

.admin_container {
  margin-left: 60px;
  width: 1200px;
  background-color: #ebfbff42;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 200px;
}

td, th {
  vertical-align: middle;
}

th {
  font-weight: bold;
}

.btn-box {
  height: auto;
}
